//Global Animations//

//Sudo-Selectors-Effects

.pop-up {
    li:hover {
      transition: 0.8s;
      transform: translateY(-2.5px);
    }
}

//Vue css aniamtions

.fade-enter{
  opacity: 0;
}
.fade-enter-active{
  transition: opacity 0.5s;
}
.fade-leave-active{
  transition: opacity 0.5s;
  opacity: 0;
}
.movedropdown-enter{
  opacity: 0;
}
.movedropdown-enter-active{
  transition: opacity 0.5s;
}
.movedropdown-leave-active{
  transition: opacity 0.5s;
  opacity: 0;
}