//Global Mixins//

@mixin input-field($rad, $width, $height){
    border-radius: $rad;
    width:$width;
    height:$height;
    border:1px solid #ccc6c6;
    padding: 0 0.2rem;
}

@mixin flex-centred-site {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-centred-site-col {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}