//Global Utilities//

.form-field{
    @include input-field(0, 15rem, 2.1rem);
}
.small-form-field{
    @include input-field(0, 8.4rem, 2.1rem)
}
.smaller-form-field{
    @include input-field(0, 6rem, 2.1rem)
}

.form-label{
    margin-top: 20px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: 1.05rem;
    color:#615f5f;
}

.error-label{
 @extend .form-label;
 @extend .error-message;
}

.error-message{
    color: rgb(246, 122, 122);
}

.error-field{
    @extend .form-field;
    border: 2px solid rgb(246, 122, 122);
}
.small-error-field{
    @extend .small-form-field;
    border: 2px solid rgb(246, 122, 122);
}
.smaller-error-field{
    @extend .smaller-form-field;
    border: 2px solid rgb(246, 122, 122);
}