//Global Utilities//

.form-field{
    @include input-field(6px, 15rem, 2.2rem);
}

.form-label{
    margin-top: 20px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: 1.2rem;
    font-weight: lighter;
}